$color-white: #ffffff;
$color-basic-green: #7db59a;
$color-second-green: rgba(211, 237, 225, 0.97);

$color-status-new: #6c5Ce7;
$color-status-progress: #fdcb6e;
$color-status-done: #00b894;
$color-status-declined: #e84393;

$color-type-hardware: #7db59a;
$color-type-software: #ff7675;
$color-type-troubleshooting: #6c5Ce7;
$color-type-networking: #fdcb6e;

$color-decline-normal: #e84393;
$color-decline-hover: #b03671;
$color-decline-active: #832552;

$color-create-normal: #7db59a;
$color-create-hover: #5b9479;
$color-create-active: #4f896c;

$color-cancel-normal: #858585;
$color-cancel-hover:  #7db59a;
$color-cancel-active: #4f896c;

$color-input-field: #c2c2c2;