.registration-page {
  max-width: 1920px;
  height: 100vh;
  display: flex;
}

.block-img {
  width: 50%;
  background: rgba(211, 237, 225, 0.97);
}

.block-registration {
  width: 50%;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 96px;
}

.test-block {
  width: 466px;
  height: 339px;
  background-color: darkgrey;
  border: 1px solid black;
}